<h1><%= link_to "Nuevo Docente", new_path %></h1>

<table>

  <tr>
    <th>Nombres</th>
    <th>Apellidos</th>
    <th>Cèdula</th>
    <th>Email</th>
    </th>
  </tr>

  <% for docente in @docentes %>
    <tr>
      <td><%= docente.nombres %></td>
      <td><%= docente.apellidos %></td>
      <td><%= link_to docente.cedula, :action => :show, :id => docente.id %></td>
      <td><%= docente.email %></td>
      <td><%= link_to "Eliminar", :action => :destroy, :id => docente.id %></td>
      <td><%= link_to "Editar", :action => :edit, :id => docente.id %></td>
    <tr>
  <% end %> 

</table>


