<h1>Información sobre el docente <%= @docente.nombres %> <%= @docente.apellidos %></h1>

<p>Cédula: <%= @docente.cedula %></p>
<p>Email: <%= @docente.email %></p>

<h2>Inasistencias</h2>


<div class="demo">

    <div id="tabs">
    <ul>
      <li><%= link_to 'Previas', '#tabs-1' %></a></li>
      <li><%= link_to 'Agregar', '#tabs-2' %></li>
    </ul>

    <div id="tabs-1">
      <p>
        <% @docente.inasistencias.each do |ina| %>
           <li>
            <%= ina.observacion %> 
            <%= link_to 'Eliminar', :controller => :inasistencias, :action => :destroy, :id => ina.id %>
           </li>
        <% end %>
      </p>
    </div>
    
    <div id="tabs-2">
      <p>
        <%= form_for @inasistencia, :url => { :controller => :inasistencias, :action => :create } do |f| %>
          <div class="field">
            <tr>
              <td><%= f.label :justificacion %></td><td><%= f.text_area :justificacion, :cols => 40, :rows => 3 %></td></br>
            </tr>
          </div>
          <div class="field">
            <tr><%= f.label :observacion %><%= f.text_area :observacion, :cols => 40, :rows => 3 %></br></tr>
          </div>


          <div class="field">
            <tr>
              <td><%= f.label "Fecha" %></td><td><%= text_field_tag "datepicker", '', :size => 8 %></br></td>
            </tr>
          </div>


          <div class="field">
            <tr><%= hidden_field_tag :docente_id, @docente.id %></tr>
          </div>
          <div class="actions">
            <tr><%= f.submit 'Agregar' %></tr>
          </div>


        <% end %>
      </p>
    </div>
  </div>
</div>


<script>
  $(function() {
    $( "#tabs" ).tabs();
    $("#datepicker").datepicker();
  });
    </script>




